# APP REQUIRED
python-dotenv==1.0.1
requests==2.32.3
click==8.1.7
yaspin==3.0.2
inquirer==3.3.0
cryptography==43.0.1

# BUILD REQUIRED
briefcase==0.3.19
setuptools==72.1.0
wheel==0.44.0
twine==5.1.1

# TEST REQUIRED
pytest
